
h1 {
    color: black;
    font-size: 20px;
    text-align: left;
    font-family: "Arial";
    font-weight: 300;




}

body {
  background-color: white;

}

.topnav {
  overflow: hidden;
  border-bottom-width:thin;
  border-bottom-style: solid;
  border-bottom-color: pink;
  padding-bottom: 15px;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thin;
  padding-top: 15px;
  justify-content:space-around;



}
.topnav a{
  float: center;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  padding: 9px 32px;
  color: grey;
  margin: 0px auto;

}
.topnav a:hover{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: pink;
  padding-bottom: 5px;
}
.topnav a.active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: pink;
  padding-bottom: 5px;
}

footer {
  background: pink;
  background-repeat:repeat;
  padding: 1px 10%;
  position:absolute;


  text-align: center;
  padding-top: 1px;
  bottom: 0;
  left:0;
  right: 0;

}
