
h1 {
    color: black;
    font-size: 44px;
    text-align: center;
    font-family: "Arial";
    font-weight: 300;



}

body {
  background-color: white;

}

.topnav {
  text-align: center;
  font-size: 21px;
  border: solid 5px #dddd;

}
.topnav a{
  text-decoration: none;
  padding: 14px 16px;
  color: grey;
}
.topnav a:hover{
  background-color: #ddd;
  color: black;
}
