
h1 {
    color: black;
    font-size: 20px;
    text-align: left;
    font-family: "Arial";
    font-weight: 300;
    border-bottom-style: solid;
    border-bottom-color: pink;
    border-bottom-width: thin;
    padding-bottom: 5px;




}

body {
  background-color: white;

}

.topnav {
  overflow: hidden;


}
.topnav a{
  float: left;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  padding: 9px 32px;
  color: grey;
}
.topnav a:hover{
  border-bottom: 2px solid pink;
}
.topnav a.active {
  border-bottom: 2px solid pink;
}
